#bingLogo {
    display: none !important;
}

.NavBar_MapTypeButtonContainerWrapper {
    display: none !important;
}

.dirLeg, .dirDisclaimer {
    display: none !important;
}

.directionsPanel{
    background-color: white;
}

#myMap{
    position:relative;
    width:600px;
    height:400px;
}

