#bingLogo {
    display: none !important;
}

.NavBar_MapTypeButtonContainerWrapper {
    display: none !important;
}

.dirLeg, .dirDisclaimer {
    display: none !important;
}

.directionsPanel{
    background-color: white;
}

#myMap{
    width: 100%;
    height: 500px;
}

.card {
    color: black;
    background-color: #f4f4f4;
    border: 5px solid #212529 !important;
}

#printoutPanel{
    width: 100%;
    height: 100%;
}

#note{
    font-size: 6vw;
    font-weight: bold;
}

#temp{
    font-size: 4vw;
    font-weight: bold;
}

#iconMeteo {
    height: 6vw;
}

#date, #prof {
    font-style: italic;
}