#birdBig {
    height: 15vw;
}

#birdSmall {
    height: 2.8vw;
}

#firstEl {
    margin-bottom: 2em;
}


h1 {
    font-size: 3vw;
}

.btn-outline-primary {
    color:white;
}

#connexion, #creation{
    display: none;
    margin: 12vw auto 0;
    width: 40vw;
}

#divAddon{
    margin-top: -1.5vw;
}

#playstore {
    height: 5vw;
}

#appstore {
    margin-top: 0.8vw;
    margin-left: 9vw;
    height: 3.6vw;
}