#birdBig {
    height: 15vw;
}

#birdSmall {
    height: 2.8vw;
}


h1 {
    font-size: 3vw;
}

.btn-outline-primary {
    color:white;
}

#connexion, #creation{
    display: none;
    margin: 12vw auto 0;
    width: 40vw;
}
